@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#__next {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
